<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRwoCGoeKal32hjD28OUyBpUPVcWo-Vx4</string>
	<key>GCM_SENDER_ID</key>
	<string>789607940854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.optApp</string>
	<key>PROJECT_ID</key>
	<string>opt-app-15710</string>
	<key>STORAGE_BUCKET</key>
	<string>opt-app-15710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789607940854:ios:daf09c2e2cbce95c1922d7</string>
</dict>
</plist>